<template>
    <div class="wrapper">
      <loadFile v-if="!reading"></loadFile>
      <reader v-else></reader>
    </div>
</template>

<script>
  import { mapState } from 'vuex'

  import loadFile from './loadFile.vue'
  import reader from './Reader.vue'

  export default {
    name: 'Home',

    components: {
      loadFile,
      reader,
    },

    data: function () {
      return { }
    },

    computed: {
      reading () {
        return this.file !== ''
      },

      ...mapState([
        'file',
        'nightMode'
      ])
    },
  }
</script>

<style scoped>
  .wrapper {
    padding: 10px;
  }
</style>
