<template>
  <label for="file">
    Carica un file
    <input type="file" id="file" @change="getFile"/>
  </label>
</template>

<script>
  export default {
    name: 'loadFile',

    data() {
      return {
        file: ''
      }
    },

    methods: {
      getFile: function (e) {
        const files = e.target.files;

        if (! files.length) {
          return
        }

        const [file, ] = files
        const self = this

        const r = new FileReader()
        r.onload = t => {
          self.$store.commit('loadFile', t.target.result)
        }
        r.readAsText(file)
      }
    }
  }
</script>
