<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <router-link tag="div" class="app-title" :to="{ name: 'Home' }">
          <span class="mdl-layout-title">Boustrophedon reader</span>
        </router-link>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <router-link class="mdl-navigation__link" :to="{ name: 'About' }">
            About
          </router-link>
        </nav>
        <mdl-button @click.native="openSettings" icon="settings"></mdl-button>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Reader</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#/about">About</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
    <div class="page-content">
      <slot></slot>
    </div>
    </main>

    <mdl-dialog ref="settings" title="Settings">
      <settings></settings>
    </mdl-dialog>

  </div>

</template>

<script>

  import settings from './settings.vue'

  export default {
    name: 'MainLayout',

    data () {
      return {}
    },

    components: {
      settings
    },

    methods: {
      openSettings () {
        this.$refs.settings.open()
      }

    }
  }
</script>

<style scoped>
  .app-title {
    cursor: pointer;
  }
</style>
