<template>
    <reader></reader>
</template>

<script>

  import reader from './Reader.vue'

  export default {
    name: 'reading',

    data () {
      return {
      }
    },

    methods: {
    },

    components: {
      reader,
    }
  }
</script>

<style scoped>

  .main {
    padding: 30px;

    /* stops text selecting */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    -o-user-select: none;
    user-select: none;

    cursor: default;
  }

  .night {
    background: #222;
    color: #ccc;
  }


  input:not([type=file]) {
    padding: 3px;
    border: 0;
    border-bottom: 1px solid #42b983;
    width: 50px;
    text-align: center;
    background: transparent;
  }

  .night input:not([type=file]) {
    color: inherit;
  }

  input:hover:not([type=file]), input:focus:not([type=file]) {
    outline: none;
    border: 0;
    border-bottom: 1px solid #42b983;
    background: transparent;
  }

  input, label {
    cursor: pointer;
  }

  input[type=number] {
    cursor: text;
  }

  label {
    display: block;
    margin: 20px 0;
  }

</style>
