<template>
  <div>
    <div class="notice" v-if="file == ''">The file is empty!
      <button class="text" @click="reading = false">Go back?</button>
    </div>

    <div v-bind:class="[ 'reader', reverseMode ? 'reverse' : 'normal' ]">
        <div v-for="line in lines">
          <div class="line" v-html="line"></div>
        </div>
    </div>
  </div>
</template>

<script>

  import R from 'ramda'
  import { mapState } from 'vuex'

  export default {
    name: 'reader',

    data() {
      return {
      }
    },

    computed: {
      lines: function() {
        const {charPerLine, file} = this

        return R
          .splitEvery(charPerLine, file)
          .map(a => a.replace(/ /g, '&nbsp;'))
      },

      ...mapState([
        'file',
        'reverseMode',
        'charPerLine'
      ])
    },

  }
</script>

<style scoped>
  .reader {
    font-family: monospace;
    font-size: 20px;
    margin: 60px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .night .reader {
    color: #ccc;
  }

  .reader table {
    margin: 0 auto;
    text-align: center;
  }

  .reader.normal div:nth-child(2n) {
    transform: rotateY(180deg);
  }

  .reader.reverse div:nth-child(2n) {
    transform: rotateZ(180deg);
  }

  input:not([type=file]) {
    padding: 3px;
    border: 0;
    border-bottom: 1px solid #42b983;
    width: 50px;
    text-align: center;
    background: transparent;
  }

  .night input:not([type=file]) {
    color: inherit;
  }

  input:hover:not([type=file]), input:focus:not([type=file]) {
    outline: none;
    border: 0;
    border-bottom: 1px solid #42b983;
    background: transparent;
  }

  input, label {
    cursor: pointer;
  }

  input[type=number] {
    cursor: text;
  }

  label {
    display: block;
    margin: 20px 0;
  }

</style>
