<template>
  <div>
    <p>
    Char per line {{ charPerLine }}
    <mdl-slider @input="updateCharPerLine" v-model="charPerLine" min="10" max="150"></mdl-slider>
    </p>

    <hr>

    <mdl-switch @input="toggleNight" v-model="nightMode">Night mode?</mdl-switch>

    <hr>

    <mdl-switch @input="toggleReverse" v-model="reverseMode">Reverse boustrophedon?</mdl-switch>
  </div>
</template>

<script>

  import { mapState } from 'vuex'

  export default {
    name: 'settings',

    data () {
      return {};
    },

    methods: {
      updateCharPerLine (e) {
        this.$store.commit('setCharPerLine', e)
      },

      toggleNight () {
        console.log('night mode');
        this.$store.commit('toggleNight')
      },

      toggleReverse () {
        this.$store.commit('toggleReverse')
      }
    },

    computed: {
      ...mapState([
        'nightMode',
        'reverseMode',
        'charPerLine',
      ])
    }

  }
</script>
