<template>
  <div id="app">
    <MainLayout>
      <router-view></router-view>
    </MainLayout>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  import MainLayout from './components/MainLayout'

  export default {
    name: 'app',

    components: {
      MainLayout,
    },

    computed: {
      ...mapState([
        'nightMode'
      ])
    },

    watch: {
      nightMode: function () {
        document.body.classList.toggle('night')
      }
    }
  }
</script>

<style>
  html, body {
    padding: 0;
    margin: 0;
    border: 0;

    transition: color .3s, background-color .3s;
  }

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }

  body.night {
    background-color: #222;
    color: #ccc;
  }
</style>
